---
layout: default
---
{% assign product = site.data.productDetails[page.code] %}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({{ site.baseurl }}/assets/images/{{ page.code }}/{{ product.keyVisual }});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>{{ product.title }}</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div id="fh5co-product">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 animate-box">
				<div class="owl-carousel owl-carousel-fullwidth product-carousel">

					{% for item in product.carousel %}
					<div class="item">
						<div class="active text-center">
							<figure>
								<img src="{{ site.baseurl }}/assets/images/{{ page.code }}/{{ item.url }}" alt="{{ item.name }}">
							</figure>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="fh5co-tabs animate-box">
					<ul class="fh5co-tab-nav">
						<li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i class="icon-file"></i></span><span class="hidden-xs">Product Details</span></a></li>
						<li><a href="#" data-tab="2"><span class="icon visible-xs"><i class="icon-bar-graph"></i></span><span class="hidden-xs">Specification</span></a></li>
						<li><a href="#" data-tab="3"><span class="icon visible-xs"><i class="icon-star"></i></span><span class="hidden-xs">Feedback &amp; Ratings</span></a></li>
					</ul>

					<!-- Tabs -->
					<div class="fh5co-tab-content-wrap">

						<div class="fh5co-tab-content tab-content active" data-tab-content="1">
							<div class="col-md-10 col-md-offset-1">
								<span class="price">SRP: ${{ product.price | divided_by: 1.0 | round: 2}}</span>
								<h2>{{ product.title }}</h2>
								{{ content }}
								<div class="row">
									<div class="col-md-6">
										<h2 class="uppercase">Comfort is important</h2>
										<p>Emotion affects efficiency.</p>
									</div>
									<div class="col-md-6">
										<h2 class="uppercase">Esteem needs should be satisfied</h2>
										<p>Confident people are more likely to succeed.</p>
									</div>
								</div>

							</div>
						</div>

						<div class="fh5co-tab-content tab-content" data-tab-content="2">
							<div class="col-md-10 col-md-offset-1">
								<h3>Product Specification</h3>
								<table class='table table-striped'>
									<tr>
										<th>Specification</th>
										<th>Value</td>
									</tr>
									{% for param in product.specification %}
									<tr>
										<th>{{ param.name }}</th>
										<td>{{ param.value }}</td>
									</tr>
									{% endfor %}
								</table>
							</div>
						</div>

						<div class="fh5co-tab-content tab-content" data-tab-content="3">
							<div class="col-md-10 col-md-offset-1">
								<h3>Happy Buyers</h3>
								<div class="feed">
									
									{% for review in product.feedback %}
									<div>
										<blockquote>
											<p>{{ review.comment }}</p>
										</blockquote>
										<h3>&mdash; {{ review.reviewer }}</h3>
										<span class="rate">
											
											{% assign rating = review.rating %}
											{% for star in (1..rating) %}
											<i class="icon-star2"></i>
											{% endfor %}

										</span>
									</div>
									{% endfor %}

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>